/* variables */
/*$purple-primary: #880e4f;*/
$purple-primary: #7b1fa2;
/*$purple-light: #bc477b;*/
$purple-light: #ae52d4;
/*$purple-dark: #560027;*/
$purple-dark: #4a0072;
$white: #fff;
$yellow: #bfab25;

$header-font: 'Arvo', serif;
$paragraph-font: 'Cabin', sans-serif;
$cursive-font: 'Indie Flower', cursive;

/* colors */
.purple-bg {
    background: $purple-primary;
}

.purple-bg-gradient {
    background: rgb(86,0,39);
    background: linear-gradient(0deg, rgba(74,0,114,1) 10%, rgba(174,82,212,1) 50%, rgba(74,0,114,1) 90%); 
}

.purple-gradient {
    background: rgb(206,147,216);
    background: linear-gradient(360deg, rgba(206,147,216,1) 33%, rgba(171,71,188,1) 66%, rgba(142,36,170,1) 100%);
}

.yellow-bg {
    background: $yellow;
}

.yellow-text {
    color: $yellow;
}

.light-text {
    color: $white;
}

/* fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

p, a {
    font-family: $paragraph-font;
}

h1 {
    font: {
        size: 3rem;
    }
}

h2 {
    font: {
        size: 2.5rem;
    }
}

.subtitle {
    font: {
        family: $cursive-font;
        size: 1.4rem;
    }

    vertical-align: middle;

    em {
        color: #212529;
    }
}

p {
    font: {
        size: 1.2rem;
        weight: 400px;
    }

    letter-spacing: 1px;
}

/* menu */
nav.m-nav {
    height: 50px;

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-evenly;
        height: inherit;
        align-items: center;

        li {

            a {
                color: #fff;
                letter-spacing: 2.4px;
            }
        }
    }
}

/* sticky class */
.m-sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/* shadows and frames */
.m-shadow {
    box-shadow: 0 8px 6px -6px black;
}

.black-bg {
    background: rgba(0, 0, 0, .3);
}

/* buttons */ 
a.m-main-button {
    width: 150px;
    text-align: center;
    color: $white;
    padding: 10px 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    display: inline-block;
}

/* main content */
section.m-banner {
    max-width: 100vw;
    height: 450px;
    position: relative;

    .m-caption-wrapper {
        display: flex;
        flex-direction: row;
        height: inherit;
        align-items: center;
        max-width: 60%;
        margin: 0 auto;
        position: relative;
        z-index: 1;

        .m-caption {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 20px;
            line-height: 1.4;

            h1, .subtitle, p {
                margin: 0;
            }

            div.author-img {
                width: 70px;
                height: 70px;
                border: 5px solid $purple-primary;
                border-radius: 50%;
                background: url(../images/me-with-camera.jpg)no-repeat center center;
                background-size: cover;
                margin-bottom: 10px;
            }
        }
    }
}

section.m-banner::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/bologna.jpg) no-repeat center center;
    opacity: .7;
    background-size: cover;
    background-attachment: fixed;
}

/* blog section */
.m-blog-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    section.m-blog-section {
        padding: 50px 0;
        max-width: 100vw;
        flex: 0 50%;
    }

        .m-blog-wrapper {
            max-width: 80%;
            margin: 0 auto;
            background: $white;
            padding: 20px;

            article {
                line-height: 1.4;

                .m-featured-img {
                    margin: 0 0 10px;
                }

                h2, p, span {
                    margin-bottom: 12px;
                }

                span {
                    margin-right: 5px;
                }
            }
        }

/* mobile version */
@media (min-width: 320px) and (max-width: 480px) {
  
    /* main content */
    section.m-banner {
        height: 100vh;

        .m-caption-wrapper {
            max-width: 88vw;
        }
    }   
    
    /* blog section */
    .m-blog-container {
        flex-direction: column;
    }

        section.m-blog-section {

            .m-blog-wrapper {
                max-width: 88vw;
            }
        }
  }